<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pharmacy Management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
</head>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 ></h1>
                     {% if role %}
                    <a href="../accounts" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i class="fas fa-home"></i>    Home</a>
                    {% else %}
    <a href="../accounts/worker" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i class="fas fa-home"></i>   Home</a>
    {% endif %}
                </div>

<table class="table" border="1">
<thead class="thead-dark" >
    <tr>
    <th>Invoice ID</th>
    <th>Customer Name</th>
    <th>Customer Phone no</th>
    <th>Gtotal</th>
    <th>Date</th>
    <th>View</th>
    </tr>
</thead>
<tbody>
     {% for o in sales %}
    <tr>
    <td>{{o.id}}</td>
    <td> {{o.c_name}} </td>
    <td> {{o.c_phone}} </td>
    <td> {{o.gtotal}} </td>
    <td> {{o.date}} </td>
    <td><a href="{% url 'Sales_view' o.id %}">View</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url 'Sales_new' %}">New</a>
